#gamecontainer {
    width: 640px;
    height: 480px;
    background: url(images/splashscreen.png);
    border: 1px solid black;
}

.gamelayer {
    width: 640px;
    height: 480px;
    position: absolute;
    display: none;
}

/* Game Starting Menu Screen */
#gamestartscreen {
    padding-top: 320px;
    text-align: left;
    padding-left: 50px;
    width: 590px;
    height: 160px;
}

#gamestartscreen span {
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
    cursor: pointer;
    color: white;
    text-shadow: -2px 0 purple, 0 2px purple, 2px 0 purple, 0 -2px purple;
}

#gamestartscreen span:hover {
    color: yellow;
}

/* Loading Screen */
#loadingscreen {
    background: rgba(100, 100, 100, 0.7);
    z-index: 10;
}

#loadingmessage {
    margin-top: 400px;
    text-align: center;
    height: 48px;
    color: white;
    background: url(images/loader.gif) no-repeat center;
    font: 12px Arial;
}

/* Mission Briefing Screen */
#missionscreen {
    background: url(images/missionscreen.png) no-repeat;
}

#missionscreen #entermission {
    position: absolute;
    top: 79px;
    left: 6px;
    width: 246px;
    height: 68px;
    border-width: 0px;
    background-image: url(images/buttons.png);
    background-position: 0px 0px;
}

#missionscreen #entermission:disabled, #missionscreen #entermission:active {
    background-image: url(images/buttons.png);
    background-position: -251px 0px;
}

#missionscreen #exitmission {
    position: absolute;
    top: 79px;
    left: 380px;
    width: 98px;
    height: 68px;
    border-width: 0px;
    background-image: url(images/buttons.png);
    background-position: 0px -76px;
}

#missionscreen #exitmission:disabled, #missionscreen #exitmission:active {
    background-image: url(images/buttons.png);
    background-position: -103px -76px;
}

#missionscreen #missonbriefing {
    position: absolute;
    padding: 10px;
    top: 160px;
    left: 20px;
    width: 410px;
    height: 300px;
    color: rgb(130, 150, 162);
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}

/* Game Interface Screen */
#gameinterfacescreen {
    background: url(images/maininterface.png) no-repeat;
}

#gameinterfacescreen #gamemessages {
    position: absolute;
    padding-left: 10px;
    top: 5px;
    left: 5px;
    width: 450px;
    height: 60px;
    color: rgb(130, 150, 162);
    overflow: hidden;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}

#gameinterfacescreen #gamemessages span {
    color: white;
}

#gameinterfacescreen #callerpicture {
    position: absolute;
    left: 498px;
    top: 154px;
    width: 126px;
    height: 88px;
    overflow: none;
}

#gameinterfacescreen #cash {
    width: 120px;
    height: 22px;
    position: absolute;
    left: 498px;
    top: 256px;
    color: rgb(130, 150, 162);
    overflow: hidden;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
}

#gameinterfacescreen canvas {
    position: absolute;
    top: 79px;
    left: 0px;
}

#gameinterfacescreen #foregroundcanvas {
    z-index: 1;
}

#gameinterfacescreen #backgroundcanvas {
    z-index: 0;
}